@import "mocha.css";

@define-color border @sky;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font Propo", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}


window#waybar {
    background: transparent;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* ====Módulos à direita==== */

#tray,
#custom-os_button,
#custom-code,
#custom-brave,
#custom-file,
#custom-sheet {
    background-color: @surface0;
    border-top: 3px solid @border;
    border-bottom: 3px solid @border;
}

#custom-os_button {
    border-radius: 20px 0 0 20px;
    border-left: 3px solid @border;
    font-size: 25px;
    color: @sapphire;
    padding: 0 12px;
}

#tray {
    font-size: 20px;
    color: @text;
    padding: 0 8px;
}

#custom-code {
    font-size: 20px;
    color: @blue;
    padding: 0 5px;
}

#custom-brave {
    font-size: 20px;
    color: @peach;
    padding: 0 5px;
}

#custom-file {
    font-size: 20px;
    color: @yellow;
    padding: 0 5px;
}

#custom-sheet {
    border-radius: 0 20px 20px 0;
    border-right: 3px solid @border;
    font-size: 20px;
    color: @green;
    padding-left: 5px;
    padding-right: 12px;
}

/* ====Workspaces==== */

#workspaces {
    background-color: @surface0;
    border-radius: 20px;
    border: 3px solid @border;
    padding: 0 11px;
}

#workspaces button.persistent {
    color: @blue;
}

#workspaces button.empty {
    color: @rosewater;
}

#workspaces button.active {
    color: @yellow;
}

#workspaces button.urgent {
    color: @red;
}


/* ------------------------------------------------------------- */
/* Módulos à direita */
/* ------------------------------------------------------------- */

#custom-power,
#clock,
#pulseaudio {
    background-color: @surface0;
    border-top: 3px solid @border;
    border-bottom: 3px solid @border;
    padding: 0 15px;
}

#custom-power {
    border-radius: 0 20px 20px 0;
    border-right: 3px solid @border;
    color: @red;
}

#clock {
    color: @green;
}

#pulseaudio {
    border-radius: 20px 0 0 20px;
    border-left: 3px solid @border;
    color: @yellow;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #222000;
    }
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #4b7eeb;
}

/* Hover effects */

#custom-wallpaper:hover,
#pulseaudio:hover,
#clock:hover,
#tray:hover,
#custom-power:hover,
#custom-code:hover,
#custom-brave:hover,
#custom-file:hover,
#custom-sheet:hover {
	background: @base;
}

#custom-os_button:hover {
    color: @blue;
}

tooltip {
    color: @text;
    background-color: @surface0;
    text-shadow: none;
    border-radius: 5px;
    border: 2px solid @border;
}
